.categories {
  padding: 0 var(--gutter-xl);
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.categories__item {
  flex-basis: calc(33.333% - var(--gutter-m));
  position: relative;
  margin: 0 var(--gutter-s);
  background-size: cover;
  background-repeat: no-repeat;
}

.categories__item.acrylic {
  background-image: url(../images/acrylic-1.jpg);
  background-position: -50px;
}

.categories__item.oil {
  background-image: url(../images/oil-1.jpg);
}

.categories__item.watercolour {
  background-image: url(../images/watercolour-1.jpg);
  background-position: bottom;
}

.categories__item::before {
  content: '';
  display: block;
  padding-top: 100%;
  background-color: black;
  opacity: 0.3;
}

.categories__item:hover::before {
  opacity: 0.6;
  transition: all 0.2s ease;
}

.categories__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.categories__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
  .categories {
    flex-direction: column;
  }

  .categories__item {
    margin: var(--gutter-s) 0;
  }
}

@media screen and (max-width: 768px) {
  .categories {
    padding: 0 var(--gutter-m);
  }
}