.page-wrapper {
  padding: var(--gutter-xl);
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
}

.page-title {
  text-align: center;
  margin-bottom: var(--gutter-xl);
}

.page-info--large,
.page-info--small {
  text-align: center;
  margin-bottom: var(--gutter-m);
}

.gallery__row {
  display: flex;
}

.gallery__item {
  flex-basis: calc(33.333% - var(--gutter-s));
  position: relative;
  margin: calc(var(--gutter-s) / 2);
  overflow: hidden;
}

.gallery__item::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.gallery__item--wide {
  width: 100%;
  margin: calc(var(--gutter-s) / 2);
}

.gallery__image {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.gallery__image--wide {
  width: 100%;
  display: block;
}

.centralize {
  width: 100%;
  object-fit: cover;
}

.width-50 .gallery__item {
  flex-basis: 50%;
}

.position-right {
  right: 0;
}

@media screen and (max-width: 768px) {
  .page-wrapper {
    padding: var(--gutter-xl) var(--gutter-m) 0;
  }

  .page-info--large {
    display: none;
  }
  
  .gallery__row {
    display: block;
    overflow: hidden;
  }

  .gallery__item {
    margin: 0 0 var(--gutter-m) 0;
  }

  .gallery__item--wide {
    margin: 0 0 var(--gutter-m) 0;
    height: 150px;
  }

  .gallery__image--wide {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 769px) {
  .page-info--small {
    display: none;
  }
  
  .gallery__item,
  .gallery__item--wide {
    cursor: pointer;
  }
}
