.page-wrapper {
  padding: calc(var(--gutter-wide) * 2);
  max-width: 1200px;
  margin: auto;
}

.page-title {
  text-align: center;
  margin-bottom: calc(var(--gutter-wide) * 2);
}

.gallery__row {
  display: flex;
}

.gallery__item {
  flex-basis: calc(33.333% - var(--gutter) / 2);
  position: relative;
  margin: calc(var(--gutter) / 4);
  overflow: hidden;
}

.gallery__item::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.gallery__item--wide {
  width: 100%;
  margin: calc(var(--gutter) / 4);
}

.gallery__image {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.gallery__image--wide {
  width: 100%;
}
