@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

:root {
    --dark: #232323;
    --light: #eeecff;
    --accent: #FFA07A;
    --gutter: 20px;
    --gutter-wide: 30px;
    --body-font: 'Roboto';
    --body-font-size: 16px;
}

body {
    background-color: var(--light);
}

/* --dark: #202020;
--light: #FFFAFA; */