.text-content {
  text-align: center;
  line-height: 30px;
  padding: var(--gutter-xl);
}

.text-content__title {
  margin-bottom: calc(var(--gutter-m) * 2);
  position: relative;
}

.text-content__text {
  max-width: 870px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .text-content {
    padding-left: var(--gutter-m);
    padding-right: var(--gutter-m);
  }
}