body {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: 300;
    color: var(--dark);
    letter-spacing: 4px;
}

.nav-main {
    color: var(--light);
    text-transform: lowercase;
}

.nav-mobile__link {
  color: var(--light);
  padding: var(--gutter-wide);
  text-transform: lowercase;
  font-size: 18px;
}

.hero__title {
    font-family: 'Calligraffitti';
    font-size: 35px;
    font-weight: 300;
}

.section-header {
    font-size: 34px;
}

.text-content__text {
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
    .hero__title {
        font-size: 25px;
    }
}