@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --dark: #202020;
    --light: #FFFAFA;
    --gutter: 20px;
    --body-font: 'Roboto';
    --body-font-size: 16px;
}

body {
    background-color: var(--light);
}