.text-content {
    text-align: center;
    line-height: 30px;
    padding: calc(var(--gutter) * 3);
}

.text-content__title {
    margin-bottom: calc(var(--gutter) * 2);
    position: relative;
}

.text-content__text {
    max-width: 850px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .text-content {
        padding-left: var(--gutter);
        padding-right: var(--gutter);
    }
}