body {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: 300;
    color: var(--dark);
    letter-spacing: 4px;
}

.nav-main {
    color: var(--light);
    text-transform: lowercase;
}

.hero__title {
    font-family: 'La Belle Aurore';
    text-transform: lowercase;
    font-size: 36px;
    font-weight: 300;
}

.section-header {
    font-size: 34px;
}

.text-content__text {
    letter-spacing: 2px;
}